body {
    font-family: 'Open Sans', 'Roboto', 'sans-serif';
    font-size: 15px;
    background: white;
}

#main-nav .navbar {
    padding: 22px 7px;
    font-weight: bold;
    font-size: 13px;
    margin-left: 150px;
}

.navbar {
    background-color: #fff;
    overflow: hidden;
}

.navbar a {
    float: left;
    display: block;
    color: #777;
    text-align: center;
    padding: 5px 10px;
    text-decoration: none;
}

.navbar a:hover {
    color:  #6EC139;
    background-color: transparent;
}

.navbar a:target {
    color: #6EC139;
}

#logo {
    vertical-align: middle;
    float: right;
    margin-right: 100px;
    margin-top: 10px;
}

#logo-bahasa {
    float: right;
    width: 7%;
    height: 40px;
    margin-right: 0;
    margin-top: 0;
}

img {
    width: 100%;
    height: auto;
}