
*{
    margin: 0;
    padding: 0;
}
.container1{
    position: fixed;
    background-color: white;
    width: 100%;
    z-index: 2;
}
.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 70%;
    height: 70px;
    margin-left: 200px;
}
.navbar a{
    text-decoration: none;
    color: gray;
}
.navbar img{
    width: 150px;
}
.navbar a:hover{
    color: rgb(113, 180, 12);   
}
.navbar a:focus{
    color: rgb(113, 180, 12);
}
.konten{
    width: 100%;
    height: 500px;
}
.konten img{
    width: 100%;
    margin-top: 70px;
}
.icon{
    display: flex;
    margin-top: 250px;
    width: 80%;
    margin-left: 250px;
}
.icon a {
    text-decoration: none;
    color: #000;
}
.icon img{
    width: 35px;
    height: 35px;
    padding-left: 5px;
}
.icon a:hover {
    color: rgb(113, 180, 12);
}
.body-content {
    width: 70%;
    margin: 0 auto;
    font-family: sans-serif;
}
.container-artikel {
    margin-top: 50px;
    display: flex;
}
.container div {
    height: auto;
    margin: 0 10px;
    float: left;
}
.container .artikel1 {
    width: 60%;
}
.container .artikel2 {
    width: 40%;
    margin-left: 10px;
}
.artikel1 ul{
    list-style-type: none;
}
.artikel1 li {
    text-decoration: none;
}
.artikel1 li a {
    text-decoration: none;
    color: #000;
}
.artikel1 h2 {
    padding-bottom: 20px;
}
.artikel1 a:hover{
    color: rgb(113, 180, 12);
    transition: 0.3s;
}
.gambar-berita {
    display: flex;
    width: 100px;
    height: 200px;
}
.text-artikel2 {
    display: flex;
    justify-content: space-between;
    margin-left: 150px;
    text-align: center;
    font-family: sans-serif;
    margin-right: 30px;
}
.artikel2 h2 {
    padding-bottom: 20px;
}
.date {
    display: block;
    font-size: 10px;
    color: #555;
    margin-top: 8px;
    margin-bottom: 8px;
}
.more {
    color: black;
    transition: 0.3s;
    background-color: #f0f643;
    display: inline-block;
    border-radius: 5px;
    padding: 6px 0px;
    margin-top: 20px;
    margin-bottom: 20px;
    list-style-type: none;
}
.more a:hover {
    background-color: #000;
    color: white;
    padding: 7px 7px;
    border-radius: 5px;
}
.more a {
    text-decoration: none;
}
.imore {
    padding-top: 150px;
    padding-bottom: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
}
.container3 {
    text-align: center;
}
.list-inline {
    list-style: none;
    padding: 0;
    margin: 0;
}
.list-inline li {
    display: inline;
    margin-right: 0 10px;
}
.list-inline li a {
    color: #000;
    font-size: 15px;
    text-decoration: none;
}
.container4 {
    height: 350px;
    padding: 10px;
}
footer {
    background-color: #094437;
    color: white;
    padding: 20px 0;
}
.footer-content {
    margin: 0 auto;
}
.footer-title {
    font-family: sans-serif;
}
.footer-content a {
    color: #008733;
}
.copyright {
    color: white;
    font-size: 11px;
    margin-top: -20px;
}
.follow {
    display: flex;
    float: right;
    text-align: center;
}
